* {
    margin: 0;
    padding: 0;
}

/* CSS for navbar  */
.navbar {
    background-color: white;
}

.offcanvas {
    background-color: white !important;
}

.navbar-toggler:focus {
    box-shadow: none !important;
    border: 0px;
}

.offcanvas {
    width: 300px !important;
}

.navbar-toggler {
    border: 0px !important;
}

.navbar-toggler-icon {
    background-image: url(./Images/navbar-icon/list-nested.svg) !important;
}

/* CSS for navbar  */


/* Css for hero section  */
.main-section {
    background: linear-gradient(rgb(255, 255, 255), rgba(255, 255, 255, 0.346)), url(Images/mountain/mountain.jpg) !important;
    height: 800px;
}

.heading {
    margin-top: 150px !important;
    margin: auto;
}

.heading h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    font-weight: 900;
}

/* Button  */
.discover {
    border-radius: 50px !important;
    background-color: orangered !important;
    border: 0px !important;
}

/* CSS for Sliders  */
.services {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
}

.Bring {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 800;
}

.artistic {
    color: orangered;
}

.carousel-indicators {
    margin-bottom: -30px !important;
    margin-left: 0px !important;
    justify-content: start !important;
}

/* 
=================
Slider Indicator 
================= 
*/

#indicator-1 {
    background: url(./Images/icon/1-circle.svg);
    color: red !important;
    background-repeat: no-repeat;
    background-position: center;
}


#indicator-2 {
    background: url(./Images/icon/2-circle.svg);
    background-repeat: no-repeat;
    background-position: center;
}

#indicator-3 {
    background: url(./Images/icon/3-circle.svg);
    background-repeat: no-repeat;
    background-position: center;
}



/* CSS for Laptop Slider */
#carousel-item-slider {
    width: 400px;
    height: 350px;
}

#carouselExampleIndicators {
    position: absolute;
    margin-left: 38px;
    margin-top: -130px;
}

.carousel-control-prev {
    margin-left: -30px;
    margin-top: 200px;
}

.carousel-control-next {
    margin-right: 370px !important;
    margin-top: 200px !important;
}


.carousel-control-next {
    background-color: white !important;
    opacity: 1 !important;
    height: 50px;
    width: 30px !important;
}

.carousel-control-next-icon {
    color: black !important;
}


.carousel-control-prev {
    background-color: #0d6efd !important;
    opacity: 1 !important;
    height: 50px;
    width: 30px !important;
}


.carousel-control-prev-icon {
    background-image: url(./Images/Arrow-icons/arrow-left-short.svg) !important;
}

.carousel-control-next-icon {
    background-image: url(./Images/Arrow-icons/arrow-right-short.svg) !important;
}

/* 
===================
Full screen slider
===================
*/

#slide-one {
    background: linear-gradient(rgba(140, 4, 219, 0.6), rgba(140, 4, 219, 0.6)), url(./Images/Random-images/img-1.jpg);
    height: 600px;
    background-size: cover;
}

#slide-two {
    background: linear-gradient(rgba(140, 4, 219, 0.6), rgba(140, 4, 219, 0.6)), url(./Images/Random-images/img-2.jpg);
    height: 600px;
    background-size: cover;
}

#slide-three {
    background: linear-gradient(rgba(140, 4, 219, 0.6), rgba(140, 4, 219, 0.6)), url(./Images/Random-images/img-3.jpg);
    height: 600px;
    background-size: cover;
}

.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 6.25rem !important;
    left: 15%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #fff;
    text-align: center;
}

#carousel-indicators {
    width: 100%;
    margin-bottom: 42px !important;
    justify-content: center !important;
}

#carousel-indicators button {
    height: 10px !important;
    width: 10px !important;
    border-radius: 50% !important;
    background-color: rgba(255, 255, 255, 0.723) !important;
}

.carousel-caption h5 {
    font-size: 50px;
    font-weight: 700;
    color: white;
}

.carousel-caption p {
    font-size: 20px;
    font-weight: 400;
    color: white;
    width: 600px;
}


.carousel-caption img {
    height: 150px;
    width: 150px;
    margin-bottom: -190px !important;
    transform: rotate(-10deg);
}

#previous-button {
    margin-left: 0px;
    transform: rotate(90deg) !important;
    transform: scalex(-1);
    background-color: transparent !important;
    left: 88.9%;
    top: 10%;
}

#next-button {
    margin-right: 9%;
    transform: rotate(270deg);
    background-color: transparent !important;
}

/* 
=============
TABS Section
=============
*/

.tab-heading {
    font-size: 40px;
    font-weight: 700;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #000 !important;
    background-color: transparent !important;
    border-bottom: 2px solid orangered;
    border-radius: 0px;
}

/* 
==============
CSS for Cards 
==============
*/
.card {
    border-radius: 0 !important;
}

.card i {
    font-size: 40px !important;
}

.card:hover {
    background-color: blue;
    color: white;
    border-radius: 0;
    transition-duration: 0.5s;
    cursor: pointer;
}

.card-row {
    margin: 0px !important;
}

.card-column {
    margin: 0px !important;
    padding: 0px !important;
}

/* 
=============
Image section 
=============
*/
#orange {
    background-color: orangered;
    height: 400px;
}

.man-image {
    background: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url(./Images/content-image/man-content.jpg);
    height: 450px;
    background-size: cover;
    margin-top: -25px !important;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.man-image h5 {
    margin-top: 100px;
}


/* 
==========================
CSS for Slider with images 
==========================
*/


#carousel-indicators-bullets {
    bottom: -70px;
}

#indicator-one {
    background: url(./Images/male-female/female.png);
    background-size: cover;
    height: 30px;
    width: 50px;
    border-radius: 50%;

}

#indicator-two {
    background: url(./Images/male-female/male.png);
    background-size: cover;
    height: 30px;
    width: 50px;
    border-radius: 50%;

}

.group-image {
    margin: 150px 0px 30px !important;
}

/* 
========================
CSS for Multiples logoes
========================
*/
.tumblr {
    font-family: 'Roboto', sans-serif;
}

/* 
=====================
CSS for group images 
=====================
*/
.bi-apple {
    font-size: 50px !important;
}


/* 
===============
CSS for footer
===============
*/
.footer-list li {
    list-style: none;
}

.footer-list {
    padding-left: 0px !important;
    padding-top: 10px;
}


.footer-list li {
    line-height: 2;
}

.contact h5 p {
    line-height: 2;
}

.contact p i {
    padding-right: 10px;
    color: orangered;
}

.form-floating>label {
    color: white;
}

#form {
    margin-top: 40px !important;
}

.form-control {
    background-color: transparent !important;
}

.form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: orangered !important;
    outline: 0;
    box-shadow: none !important;
}

.footer-section {
    background-color: rgba(0, 0, 0, 0.913);
}

.INSTAGRAM-FEEDS img {
    margin: 5px;
}

/* Css for send button */
#submit-button {
    background-color: orangered;
    color: white;
}


.carousel-control-next-icon {
    background-image: \F138 !important;
    color: black !important;
}

.nav-link:focus {
    border-bottom: 2px solid orangered !important;
    border-radius: 0px !important;
}

.heading-5 {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 600;
}


/* ===========================Media Query=========================== */
@media screen and (max-width: 1350px) and (min-width: 320px) {
    
    .laptop-slider {
        display: none !important;
    }
}

/*
======================
    Laptop Screen
======================
*/
@media screen and (max-width: 991px) and (min-width: 768px) {
    .tabs-card {
        height: 160px !important;
    }

    .tab-heading {
        font-size: 20px;
    }

    .card-content h2 {
        font-size: 18px;
    }

    .multiple-logo h1 {
        font-size: 20px;
    }

    .multiple-logo .bi-apple {
        font-size: 30px !important;
    }

    .footer-section h5 {
        font-size: 14px;
    }

    .navbar-brand {
        margin-left: 0% !important;
    }
}



/*
======================
    Mobile Screen
======================
*/
@media screen and (max-width: 767px) and (min-width: 425px) {

    .navbar-brand {
        margin-left: 0px !important;
    }

    .offcanvas {
        width: 50% !important;
    }

    .heading h1 {
        font-size: 40px;
    }


    .carousel-caption {
        left: 5% !important;
    }

    .carousel-caption h5 {
        font-size: 30px;
    }

    .carousel-caption p {
        font-size: 16px;
        width: 400px;
    }

    .nav-pills li {
        padding: 0px !important;
    }


    /* =====================All Tabs=====================  */
    .all-img-1 {
        padding-top: 15px !important;
    }

    .all-img-2 {
        margin-top: 0px !important;
    }

    .all-img-3 {
        margin-top: 0px !important;
    }

    .all-img-4 {
        padding-top: 15px !important;
    }

    .all-img-5 {
        padding-top: 15px !important;
    }


    /* ====================IMAGE SECTION====================  */

    /* IMAGE SECTION  */

    .man-image {
        margin-top: 15px !important;
        height: 370px;
    }

    .tab-heading {
        font-size: 20px;
    }

    .card-content h2 {
        font-size: 18px;
    }

    .multiple-logo h1 {
        font-size: 20px;
    }

    .multiple-logo .bi-apple {
        font-size: 30px !important;
    }

    .footer-section h5 {
        font-size: 14px;
    }


    /* INSTAGRAM-FEEDS */

    #INSTAGRAM {
        display: none !important;
    }

    #INSTAGRAM-2 {
        display: none !important;
    }

    #submit-button {
        margin: 10px 0px !important;
    }

    .heading-5 {
        font-size: 12px !important;
    }

}

/*
======================
  Small Mobile Screen
======================
*/

@media screen and (max-width: 424px) and (min-width: 320px) {

    #main-section {
        height: 400px !important;
    }

    .offcanvas {
        width: 50% !important;
    }

    .heading {
        margin-top: 50px !important;
    }


    .navbar-brand {
        margin-left: 0px !important;
    }

    .heading h1 {
        font-size: 20px;
    }


    .carousel-caption {
        left: 5% !important;
    }

    .carousel-caption h5 {
        font-size: 30px;
    }

    .carousel-caption p {
        font-size: 16px;
        width: 300px;
    }

    .nav-pills li {
        padding: 0px !important;
        font-size: 12px;
        font-weight: bold;
    }


    /* =====================All Tabs=====================  */
    .all-img-1 {
        padding-top: 15px !important;
    }

    .all-img-2 {
        margin-top: 0px !important;
    }

    .all-img-3 {
        margin-top: 0px !important;
    }

    .all-img-4 {
        padding-top: 15px !important;
    }

    .all-img-5 {
        padding-top: 15px !important;
    }


    /* ====================IMAGE SECTION====================  */

    .man-image {
        margin-top: 15px !important;
        height: 370px;
    }

    .tab-heading {
        font-size: 20px;
    }

    .card-content h2 {
        font-size: 18px;
    }

    .multiple-logo h1 {
        font-size: 20px;
    }

    .multiple-logo .bi-apple {
        font-size: 30px !important;
    }

    .footer-section h5 {
        font-size: 14px;
    }


    /* INSTAGRAM-FEEDS */

    #INSTAGRAM {
        display: none !important;
    }

    #INSTAGRAM-2 {
        display: none !important;
    }

    #submit-button {
        margin: 10px 0px !important;
    }

    .heading-5 {
        font-size: 8px !important;
    }

}